<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" 
      internalLogFile="c:\temp\nlog-internal.log">

    <extensions>
        <add assembly="NLog.Database" />
    </extensions>
  
    <targets>
        <!-- Database target: logging into SQLite (table LogEntries) -->
        <target name="db" xsi:type="Database" 
                dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
                connectionString="Data Source=tldr.sqlite"
                commandText="INSERT INTO LogEntries (Timestamp, Level, Logger, Message, Exception, GuildName, GuildId, ChannelName, ChannelId, Username, UserId) VALUES (@time, @level, @logger, @message, @exception, @guildName, @guildId, @channelName, @channelId, @username, @userId)">
            <parameter name="@time" layout="${longdate}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@exception" layout="${exception:format=ToString}" />
            <parameter name="@guildName" layout="${scopeproperty:GuildName}" />
            <parameter name="@guildId" layout="${scopeproperty:GuildId}" />
            <parameter name="@channelName" layout="${scopeproperty:ChannelName}" />
            <parameter name="@channelId" layout="${scopeproperty:ChannelId}" />
            <parameter name="@username" layout="${scopeproperty:InvokerName}" />
            <parameter name="@userId" layout="${scopeproperty:InvokerId}" />
        </target>

        <!-- Console target -->
        <target name="console" xsi:type="Console"
                layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />
    </targets>

    <rules>
        <!-- Log Info and above to both database and console -->
        <logger name="*" minlevel="Info" writeTo="db,console" />
    </rules>
</nlog>